@import url("colors.css");

* {
  border-radius: 0px;
  font-family: "CCL Nerd Font";
  font-size: 20px;
  font-style: normal;
  min-height: 0;
}

window#waybar,
#workspaces button {
  transition: color 4s ease-in-out;
  animation: colorTransition 8s infinite;
  animation-timing-function: steps(48);
  animation-duration: 8s;
}

window#waybar {
  background: transparent;
  color: @color5;
}

#workspaces button {
  padding: 0px 10px;
  border-radius: 10px;
  color: @foreground;
}

#workspaces button:hover {
  background: transparent;
  border: 0px solid transparent;
}

#workspaces,
#memory,
#disk,
#cpu,
#tray,
#custom-date,
#pulseaudio,
#custom-date,
#clock,
#mpd,
#battery,
#pulseaudio,
#custom-hyprpicker,
#pulseaudio.muted,
#custom-pacman {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

#pulseaudio.muted,
#mpd.paused {
  color: #ff5555;
}

@keyframes colorTransition {
  0% {
    color: @color3;
  }
  50% {
    color: @color5;
  }
  100% {
    color: @color3;
  }
}
